# OS
.DS_Store

# IDEs
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

# Logs
npm-debug.log
yarn-error.log

# API (Laravel)
/api/.phpunit.cache
/api/bootstrap/ssr
/api/node_modules
/api/public/build
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/storage/pail
/api/resources/js/actions
/api/resources/js/routes
/api/resources/js/wayfinder
/api/vendor
/api/.env
/api/.env.backup
/api/.env.production
/api/.phpunit.result.cache
/api/auth.json

# Front (Vue)
/front/node_modules
/front/dist
/front/.env
/front/.env.local
/front/.env.*.local
/front/*.local

# Homestead
Homestead.json
Homestead.yaml
